.App {
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card {
  margin-top: 25px;
  background-color: rgb(99, 208, 241);
  color: rgba(185, 81, 21, 0.904);
  width: 240px;
  margin: 11px;
  border: 1px solid white;
  border-radius: 7px;
}

.card-img-top {
  margin-top: 25px;
  width: 80px;
  align-self:center;
}

ul {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  justify-content:space-evenly;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-img-top {
  height: 50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
